<div style="text-align:center;">

<%= form_for([@picture,@picture.comments.build]) do |f| %>
  <p>
    <%= f.label :name, class: "picture-text" %> <br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :body, class: "picture-text" %> <br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Create Comment", class: "btn btn-primary btn-lg" %>
  </p>

  <% end %>

</div>
