<body>
<%= form_with(model: picture, local: true, html:{multipart: true}) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="modal-content" style="width: 60%; margin-left: 20%; margin-bottom: 5%;" >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"> <%= link_to 'X', pictures_path %>  </button>
      <h4 style="text-align:center;" class="modal-title">Picture data: </h4>
    </div>
    <p style="text-align:center;">
      <span> <br>  </span>
      <span>
        Pick a file adding url:
      </span>
    </p>



  <div class="modal-body" >
    <p style="text-align:center;">
    <%= form.label :title %>
    <%= form.text_field :title, id: :picture_title, class: "boxes" %>
    <%= form.label :description %>
    <%= form.text_field :description, id: :picture_description, class: "boxes" %>
    <%= form.label :url %>
    <%= form.text_field :url, id: :picture_url, class: "boxes" %>
  </p>
  </div>
     <p style="text-align:center;">
     <span>OR</span>

     <span> <br>  </span>
     <span> <br>  </span>

     <span>
       Select from device:
     </span>

     <span> <br>  </span>
     <span> <br>  </span>
     </p>

  <div style="margin-left: 45%;" class="field">
   <%= form.file_field :attachment  %>  <!-- Add style "Choose File", class: "btn btn-light" -->
  </div>

     <span> <br>  </span>

  <div class="actions" style="margin-left:1.5rem; color: #000;" >
    <p style="text-align:center;">
    <%= form.submit "Update Picture", class: "btn btn-primary btn-lg" %>
    </p>
  </div>


</div>

<% end %>
