
<p id="notice"><%= notice %></p>

      


      <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Need help?</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">How to add my own picture</h4>
          </div>
          <div class="modal-body">
            <ol>
              <li>Click new picture.</li>
              <li>Write the url, add a tittle and a description</li>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
      </div>

      </div>

       <br>


          <!-- <h1>Pictures</h1> -->

    <% @pictures.each do |picture| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail thumb-box">
        <h2 style= "text-align: center"><%= picture.title %></h2>
        <%=link_to image_tag(picture.url, size: "300x300"), picture%>
        <div class="caption" style= "text-align: center">


          <%= link_to like_picture_path(picture), class: "like", method: :put do %>
          <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
          <span class = "badge"><%= picture.get_upvotes.size %></span>
          </button>
          <% end  %>

          <%= link_to unlike_picture_path(picture), class: "like", method: :put do %>
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
            <span class="badge"><%= picture.get_downvotes.size %> </span>
          </button>
          <% end  %>


        </div>
      </div>

    </div>

<% end %>




<!-- <br> -->
