<p id="notice"><%= notice %></p>

<h1>Pictures</h1>




      <!-- <h2>Title</h2>
      <h3>Description</h3> -->




      <div class="container-fluid">


    <% @pictures.each do |picture| %>
        <p><%= picture.title %></p>
        <p> <%= picture.description %></p>
        <%= link_to 'Show', picture %>
        <% if user_signed_in?  %>
        <% if picture.user_id == current_user.id  %>
        <%= link_to 'Edit', edit_picture_path(picture) %>
      <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end  %>
      <% end  %>
      <p><%=link_to image_tag(picture.url), picture %><br></p>

    <% end %>
  </div>

<!-- <br> -->
