<p id="notice"><%= notice %></p>







          <h1>Pictures</h1>

    <% @pictures.each do |picture| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail thumb-box">
        <h2 style= "text-align: center"><%= picture.title %></h2>
        <%=link_to image_tag(picture.url, size: "300x300"), picture%>
        <div class="caption" style= "text-align: center">


          <%= link_to like_picture_path(picture), class: "like", method: :put do %>
          <button type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
          <span class = "badge"><%= picture.get_upvotes.size %></span>
          </button>
          <% end  %>

          <%= link_to unlike_picture_path(picture), class: "like", method: :put do %>
          <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
            <span class="badge"><%= picture.get_downvotes.size %> </span>
          </button>
          <% end  %>

        </div>
      </div>

    </div>

<% end %>




<!-- <br> -->
