<!DOCTYPE html>
<html>
  <head>
    <title>Photoplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Pictures", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% if user_signed_in?  %>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else  %>
      <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
      <p class= "navbar-text">Hello, <% if user_signed_in? %>
                                    <%= current_user.email %>
                                    <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= form_tag(pictures_path, method: :get) do %>

      <p class="navbar-brand"><%= text_field_tag :term, params[:term] %></p>

      <p class="navbar-brand"><%= submit_tag 'Search', name: nil %></p>
      <% end %>
      <% if user_signed_in?  %>
      <p class="navbar-item" data-toggle="modal" data-target="#myModal"> <%= link_to "New Picture", new_picture_path %> </p>
      <%end %>
    </ul>

  </div>

</nav>


    <!-- <p class="notice"><%= notice %></p> -->
          <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
